@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    --primary: #ed0000;
    --secondary: #3d0d90;
    --accent: #fe4a4b;
    --secondary-accent: #c2a0d1;
    --background: #faf4f4;
    --shadow-overlay: rgba(0, 71, 129, 0.822);
    --text: #130f0f;
    --std-width: 85ch;
    --max-width: 100%;

}

body {
    background-color: var(--background);
}

body > * {
    margin-top: 10px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.5rem;
    margin: 30px 0;
}

button {
    border-radius: 10px;
    border: 0px;
    padding: 10px;
}

button:hover {
    color: var(--shadow-overlay);
}

section {
    border-radius: 25px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.double-section {
    display: flex;
    width: var(--std-width);
    max-width: 100%;
}

.double-section >*:nth-child(1){
    width: 60%;
}
.flex-line {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.flex-center {
    justify-content: space-evenly;
}

.full-width {
    box-sizing: border-box;
    width: 100%;
}

.explicit-element {
    align-items: center;
    background-color: var(--primary);
    color: var(--background);
    display: flex;
    flex-direction: column;
}

.interactive-element {
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--background);
}
.invisible {
    display: none;
}

.loader-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
    width: 100%;
}

.loader-dots div {
    background-color: var(--secondary-accent);
    height: 12px;
    width: 12px;
    border: solid 2px var(--secondary);
    border-radius: 12px;
    animation: bounce 4s infinite ease-in-out;
}

.loader-dots div:nth-child(2){
    animation-delay: 0.5s;
}

.loader-dots div:nth-child(3){
    animation-delay: 1s;
}

@keyframes bounce {
    0%,  100% {
        transform: scale(0); 
        opacity: 0.3;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
}

.negative {
    background-color: var(--primary);
    color: var(--background);
}
.positive{
    background-color: #2de12d;
}

.padded-50 {
    padding: 50px;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--secondary-accent);
    margin: 0 auto;
    max-width: 100%;
    padding: 4ch;
    transform: translate(-50%, -50%);
    width: 50ch;
    box-shadow: 2px 2px 20px var(--text);
}
.popup h1 {
    font-size: 1.5rem;
}

.readable {
    background-color: var(--accent);
}
.searchbar > * {
    margin: 0 0.5ch;
}
.std-width {
    max-width: 100%;
    width: var(--std-width);
}
#searchform {
    margin-left: 10px;
}

#searchform form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#search-result {
    background-color: var(--secondary-accent);
}

#name-search {
    margin: 20px 0;
}

/** 
    copied from Google fonts
*/
.encode-sans-expanded-thin {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .encode-sans-expanded-extralight {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .encode-sans-expanded-light {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .encode-sans-expanded-regular {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .encode-sans-expanded-medium {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .encode-sans-expanded-semibold {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .encode-sans-expanded-bold {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .encode-sans-expanded-extrabold {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .encode-sans-expanded-black {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 900;
    font-style: normal;
  }